body {
        font-family: Joan;
        background: #BFAC8B;
        margin: 20px;
    }
    h4 {
        background: #00272D;
        color: #BFAC8B;
        padding: 10px;
    }
    h3 {
        background: #00272D;
        color: #BFAC8B;
        padding: 10px;
    }
    .box {
        background: #BFAC8B;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 8px;
        box-shadow: 0 0 5px black;
    }
    input {
        padding: 5px;
        margin: 5px;
    }
    button {
        padding: 8px;
        background: #0C7E7E;
        color: #BFAC8B;
        border: none;
        cursor: pointer;
    }
    .error {
        color: #134647;
        font-size: 12px;
    }
    .result {
        margin-top: 10px;
        font-weight: bold;
    }